.btn {   
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px 0 rgba(193,193,193,.5);

    img {
        width: 2rem;
        height: 2rem;
    }
}

.menu {
    transition: all ease .2s
}

.menu .ayuda {
    height: 61px;
    width: 61px;
    border-radius: 50%;
    position: fixed;
    right: 18px;
    bottom: 120px;
    z-index: 1004
}

.menu.five .ayuda {
    bottom: 150px!important
}

.menu .ayuda:active {
    height: 60px;
    width: 60px
}

.menu .ayuda:hover {
    cursor: pointer
}

.menu .ayuda .cicle {
    height: 61px;
    width: 61px;
    border-radius: 31px;
    background-color: #2e69db;
    box-shadow: 0 2px 10px 0 rgba(193,193,193,.5);
    display: flex;
    align-items: center;
    justify-content: center
}

.menu .ayuda .cicle .cicle-blanco {
    height: 51px;
    width: 51px;
    border-radius: 31px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(193,193,193,.5);
    display: flex;
    align-items: center;
    justify-content: center
}

.menu .ayuda .cicle .cicle-blanco svg {
    transition: all ease .2s
}

.menu .ayuda.ayuda-active .cicle .cicle-blanco svg {
    transform: rotate(360deg)
}

.menu .ayuda .cicle .cicle-blanco i {
    transition: all ease .2s
}

.menu .ayuda.ayuda-active .cicle .cicle-blanco i {
    transform: rotate(360deg)
}

.menu .menu_bg {
    z-index: 1000;
    transition: all ease .4s;
    transform-origin: center;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 130px;
    background-color: rgba(255,255,255,.74);
    box-shadow: 0 3px 4px 0 rgba(94,94,94,.7);
    overflow: hidden
}

.menu .menu_bg-open {
    height: 585px;
    width: 541px;
    right: -200px;
    bottom: -200px;
}

.menu.five .menu_bg-open {
    width: 570px!important
}

.menu .ico-item {
    border-radius: 50%;
    height: 51px;
    width: 51px;
    background-color: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.12),0 9px 8px 0 rgba(0,0,0,.11);
    display: flex;
    align-items: center;
    justify-content: center
}

.menu .menu_item {
    position: fixed;
    right: 22px;
    bottom: 125px;
    transition: all ease .4s;
    opacity: 0;
    z-index: 1002;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center
}

.menu .menu_item-active {
    opacity: 1;
    display: flex
}

.menu .menu_item-active:nth-child(1) {
    bottom: 250px;
    right: 57px
}

.menu .menu_item-active:nth-child(2) {
    bottom: 170px;
    right: 127px
}

.menu .menu_item-active:nth-child(3) {
    bottom: 90px;
    right: 127px
}

.menu .menu_item-active:nth-child(4) {
    bottom: 10px;
    right: 80px
}

.menu .text-icon {
    height: 40px;
    width: 107px;
    color: #292929;
    font-size: 16px;
    letter-spacing: -.3px;
    line-height: 20px;
    text-align: right;
    margin-right: 23px
}

.menu.five .text-icon {
    width: 122px!important
}
