:host {
    position: fixed;
    right: 0;
    z-index: 1005;
}

.chat-bot-main-container {
    float: right;
    right: 1px;
    bottom: 1px;
    width: 407px;
    min-height: 100vh;
    background-color: #f4f4f4;
    z-index: 1005;
    border: solid 2px #808080;

    &__header {
        background-color: #fff;
        padding: 0.5rem 1rem;
        text-align: center;
        position: fixed;
        width: 375px;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            margin-bottom: 0;
        }
    }

    &__main {
        padding: 1rem 1rem 6rem 1rem;
        overflow: auto;
        height: 580px;
        margin-top: 50px;

        h2,
        h3,
        h4 {
            text-align: center;
        }

        p {
            color: #808080;
        }
    }

    &__footer {
        position: fixed;
        background-color: #f4f4f4;
        bottom: 0;
        width: 407px;
        height: 150px;
        text-align: center;

        article {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0.5rem 1rem;

            mat-form-field {
                flex: 0 1 85%;
            }

            button[color="primary"] {
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                mat-icon {
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    hr {
        height: 0;
        box-sizing: content-box;
        border: solid 0.5px lightgray;
    }
}
