<app-rating *ngIf="showEvaluation"
  [isChatRequestedByUser]="!isBotMode" 
  (finished)="onEvaluationFinished()"
  (closed)="onEvaluationClosed()"></app-rating>
<section class="chat-bot-main-container">
  <header class="chat-bot-main-container__header">
    <h1>Chat Bancolombia</h1>
    <button mat-fab color="warn" (click)="onCloseChat()">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <main class="chat-bot-main-container__main">
    <h2>Bienvenid@</h2>
    <hr />
    <h3>
      Somos un equipo experto que brinda asesoría a los clientes para tomar las mejores decisiones
      para acceder a los activos que facilitan su crecimiento y competitividad
    </h3>
    <hr />
    <ng-container *ngIf="!isConnectedWS">
      <h4 >Espera un momento, un asesor te atenderá pronto...</h4>
      <hr />
    </ng-container>
    <app-group-bubble-chat [messages]="messages"></app-group-bubble-chat>
  </main>
  <footer class="chat-bot-main-container__footer">
    <hr />
    <article>
      <mat-form-field appearance="standard">
        <mat-label>Escriba su mensaje...</mat-label>
        <input matInput 
               placeholder="Escriba su mensaje..." 
               type="text" 
               [(ngModel)]="content" 
               [disabled]="chatEnded"
               (keydown.enter)="onSendMessage()" />
      </mat-form-field>
      <button mat-fab 
              color="primary" 
              (click)="onSendMessage()"
              [disabled]="chatEnded">
        <mat-icon>send</mat-icon>
      </button>
    </article>
    <article>
      <mat-checkbox [(ngModel)]="checkSendEmail" color="primary">Enviar correo</mat-checkbox>
      <button mat-raised-button color="accent" 
        [disabled]="evaluationEnded"
        (click)="onEvaluatePressed()">
        <mat-icon>grade</mat-icon>
        Calificar Experiencia
      </button>
    </article>
  </footer>
</section>