.cx-message {
    display: flex;
    align-items: self-start;
    flex-direction: row-reverse;
    margin-top: 8px;

    &--user {
        flex-direction: row;
        justify-content: flex-end;
    }
}

.cx-message-group {
    margin-top: 8px;
}

.cx-avatar {
    height: 40px !important;
    width: 40px !important;
    content: url("/assets/images/negro.png");
}

.cx-bubble {
    border-radius: 10px !important;
    background: #fff;
    left: 72px;
    top: 415px;
    padding: 1rem;
    border-radius: 0px 14px 14px;
}

.cx-time {
    float: right;
    color: #808080;
}

.cx-info {
    margin-top: 1rem;
    color: #808080;
    text-align: left;
    width: 100%;
}

.cx-message-text p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}

.cx-message .cx-message-text ol {
    list-style: auto !important;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    padding-left: 40px !important;
    padding-top: 10px !important;
}

.cx-webchat div.cx-input-container {
    padding-right: 70px !important;
    background: #fff;
}

.cx-widget .cx-webchat .cx-input-container .cx-textarea-cell {
    min-height: 32px;
    border-radius: 0;
    background: #f4f4f4;
    display: inline-block;
    width: inherit;
}

.cx-webchat .cx-input-container .cx-textarea-cell div {
    margin: auto;
    bottom: 0;
    margin-right: 10px;
}

.cx-webchat .cx-input-container .cx-textarea-cell textarea {
    padding-left: 15px;
    padding-top: 2px !important;
}


.cx-avatar-wrapper {
    height: 40px!important;
    width: 40px!important;
    right: 0;
    background: #fff;
    border-radius: 25px;
    display: flex!important;
    justify-content: center;
    align-items: center
}

.cx-avatar-wrapper .cx-avatar.user {
    content: url(/assets/images/usuario.png);
    padding: 5px
}