<div class="menu" id="menu">
    <div class="ayuda ayuda-active" id="ayuda">
        <div class="cicle cicle-close">
            <button class="btn" (click)="onToggleMenu()">
                <img
                    [src]="isMenuOpened ? 'assets/images/circle-blanco-close.svg' : 'assets/images/menu-callback.svg'" />
            </button>
        </div>
    </div>

    <div class="menu_bg" [ngClass]="{'menu_bg-open': isMenuOpened }"></div>

    <div class="menu_list" *ngIf="isMenuOpened">
        <div class="menu_item menu_item-active" id="claro-whatsapp">
            <p class="text-icon text-whatsapp">Chat en línea</p>
            <button class="btn" [routerLink]="['/welcome-chat']">
                <img src="assets/images/menu-chat.svg" />
            </button>
        </div>
        <div class="menu_item menu_item-active" id="claro-chat">
            <p class="text-icon">Prefieres que te llamemos </p>
            <button class="btn">
                <img src="assets/images/circle-blanco.svg" />
            </button>
        </div>
        <div class="menu_item menu_item-active" id="claro-dejanos-llamarte">
            <p class="text-icon">Llámanos a nuestra línea</p>
            <button class="btn">
                <img src="assets/images/menu-ctc.svg" />
            </button>
        </div>
    </div>
</div>