.welcome-chat-main-container {
    position: fixed;
    right: 1px;
    bottom: 1px;
    width: 407px;
    background-color: #f4f4f4;
    z-index: 1005;
    border: solid 2px #808080;

    &__main {
        padding: 1rem;
    }

    &__header {
        background-color: #fff;
        padding: 0.5rem 1rem;
        text-align: center;
        width: 375px;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            margin-bottom: 0;
        }
    }

    &__form-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        mat-form-field {
            flex: 0 1 48%;
        }
    }

    &__submit {
        display: flex;
        margin: 1rem auto;
        justify-content: center;
        min-width: 50%;
    }

    mat-form-field {
        width: 100%;
    }
}
