<section class="welcome-chat-main-container">
  <header class="welcome-chat-main-container__header">
    <h1>Chat Bancolombia</h1>
    <button mat-fab color="warn" (click)="onCloseChat()">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <main class="welcome-chat-main-container__main">
    <h2> Bienvenido al Chat Bancolombia </h2>
    <p>
      Nuestro horario de atención es 7 x 24.
      Ingresa tus datos e inicia sesión
    </p>
    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <article class="welcome-chat-main-container__form-wrapper">
        <mat-form-field appearance="standard">
          <mat-label>Tipo de identificación</mat-label>
          <mat-select [formControl]="formGroup.controls.idType">
            <mat-option *ngFor="let idType of idTypes" [value]="idType.code">{{idType.name ? idType.code + ' - ' :
              idType.code}} {{idType.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls.idType.invalid">El Tipo de identificación es incorrecto</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Num. Identificación</mat-label>
          <input matInput placeholder="Num. Identificación" type="number" [formControl]="formGroup.controls.numId">
          <mat-error *ngIf="formGroup.controls.numId.invalid">El Número de identificación es incorrecto</mat-error>
        </mat-form-field>

      </article>

      <mat-form-field appearance="standard">
        <mat-label>País</mat-label>
        <mat-select [formControl]="formGroup.controls.country">
          <mat-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.controls.country.invalid">El País es incorrecto</mat-error>
      </mat-form-field>

      <article class="welcome-chat-main-container__form-wrapper">
        <mat-form-field appearance="standard">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" [formControl]="formGroup.controls.name">
          <mat-error *ngIf="formGroup.controls.name.invalid">El Nombre es incorrecto</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Apellidos" [formControl]="formGroup.controls.surname">
          <mat-error *ngIf="formGroup.controls.surname.invalid">Los apellidos son incorrectos</mat-error>
        </mat-form-field>
      </article>

      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" [formControl]="formGroup.controls.email">
        <mat-error *ngIf="formGroup.controls.email.invalid">El Email es incorrecto</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" [formControl]="formGroup.controls.phone">
        <mat-error *ngIf="formGroup.controls.phone.invalid">El teléfono es incorrecto</mat-error>
      </mat-form-field>

      <br />
      <mat-form-field appearance="fill">
        <mat-label>Cuéntanos en qué podemos ayudarte</mat-label>
        <textarea matInput [formControl]="formGroup.controls.explanation"></textarea>
        <mat-error *ngIf="formGroup.controls.explanation.invalid">La explicación es incorrecta</mat-error>
      </mat-form-field>

      <mat-checkbox [formControl]="formGroup.controls.acceptPolicies" color="primary">Acepto el tratamiento de los datos
        personales
      </mat-checkbox>
      <mat-error *ngIf="formGroup.controls.acceptPolicies.invalid && formGroup.controls.acceptPolicies.dirty">La
        explicación es incorrecta</mat-error>

      <button mat-raised-button color="primary" type="submit"
        class="welcome-chat-main-container__submit">Enviar</button>

    </form>
  </main>
</section>