:host {
    position: fixed;
    right: 412px;
    bottom: 1px;
    background: #fff;
    width: 100%;
    max-width: 407px;
    min-height: 100vh;
}

.rating-section {
    header {
        text-align: center;
        button {
            float: right;
        }
    }

    main {
        text-align: center;

        mat-radio-group {
            display: flex;
            max-width: 50%;
            margin: 0 auto;
            justify-content: space-around;
        }

        mat-form-field {
            width: 75%;
        }
    }
}
