<section class="rating-section">
    <header>
        <button mat-button color="primary" (click)="onClosed()">Cerrar</button>
        <br/><br/>
        <article *ngIf="evaluationEnded">
            <img src="/assets/images/encuesta_success.svg" />
            <h1>Gracias por tu calificación</h1>
            <p> Tendremos en cuenta tu opinión para mejorar la calidad de nuestro servicio. </p>
        </article>
        <article *ngIf="!evaluationEnded">
            <img src="assets/images/logo-experence.png">
            <br/>
            <h1>Calificar experiencia</h1>
        </article>
    </header>
    <main>
        <article *ngIf="currentPosition === -1">
            <h3>¿A quién te gustaría calificar?</h3>
            <mat-radio-group aria-label="Select an option" (change)="onChangeAgentToEvaluate($event)">
                <mat-radio-button value="tabot" checked>Tabot</mat-radio-button>
                <mat-radio-button value="agent">Agente</mat-radio-button>
            </mat-radio-group>
        </article>
        <article *ngIf="currentPosition !== -1 && !evaluationEnded">
            <p>Pregunta {{currentPosition + 1}} / 4</p>
            <p>{{questions[currentPosition].question}}</p>
            <app-star-rating *ngIf="questions[currentPosition].type === 'stars'"
                                [rating]="rating"  
                                [starCount]="starCount" 
                                [color]="starColor" 
                                (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
            <mat-form-field appearance="standard" *ngIf="questions[currentPosition].type === 'text'">
                <mat-label>Escriba su respuesta</mat-label>
                <textarea matInput 
                        placeholder="Escriba su respuesta" 
                        [(ngModel)]="responseText"
                        (change)="onChange()"
                        [rows]="3"
                        type="text"></textarea>
            </mat-form-field>
            <mat-radio-group *ngIf="questions[currentPosition].type === 'radio'" 
                              [(ngModel)]="responseRadio"
                              (change)="onChange()">
                <mat-radio-button value="yes" checked>Sí</mat-radio-button>
                <mat-radio-button value="no">No</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="error">Por favor, debe constestar/puntuar esta cuestión para continuar</mat-error>
        </article>        
        <br/>
        <button mat-raised-button color="accent" (click)="onNext()" *ngIf="!evaluationEnded">Continuar</button>
    </main>
</section>
